<div>
    <p>
        [[label-start]] <span style="color:#ff8822;font-weight:bold;">[[start]]</span><br/>
        [[label-syntax]] <span style="color:#ff8822;font-weight:bold;">[[syntax]]</span>
        [[label-separate]] <span style="color:#ff8822;font-weight:bold;">[[separate]]</span>
    </p>
</div>

<div style="border: 1px solid #565656; border-radius: 8px; width: auto; display: inline-block; padding-left: 35px;">
    <span style="color:#ff8822;font-weight:bold;">stat</span>: [[stat]]<br/>
    <blockquote>
        <span style="color:#ff8822;font-weight:bold;">total</span>: [[total]]<br/>
        <span style="color:#ff8822;font-weight:bold;">daily</span>: [[daily]]
    </blockquote>
    <br/><br/>
    <span style="color:#ff8822;font-weight:bold;">tag</span>: [[tag]]<br/>
    <blockquote>
        <span style="color:#ff8822;font-weight:bold;">plugins-</span>: [[tag-plugin]]<br/>
        <span style="color:#ff8822;font-weight:bold;">themes-</span>: [[tag-theme]]
    </blockquote>
    <br/><br/>
    <span style="color:#ff8822;font-weight:bold;">plugins</span>: [[plugins]]<br/><br/>
    <span style="color:#ff8822;font-weight:bold;">themes</span>: [[themes]]<br/><br/>
    <span style="color:#ff8822;font-weight:bold;">own</span>: [[own]]
</div>

<div>
    <p>
        [[label-close]] <span style="color:#ff8822;font-weight:bold;">[[close]]</span>
    </p>
</div>

<br/><br/>
<div>
    [[label-examples]]
    <ul style="padding-left: 35px;">
        <li><span style="color:#ff8822;font-weight:bold;">[[example-1]]</span> <em>[[desc-example-1]]</em></li>
        <li><span style="color:#ff8822;font-weight:bold;">[[example-2]]</span> <em>[[desc-example-2]]</em></li>
        <li><span style="color:#ff8822;font-weight:bold;">[[example-3]]</span> <em>[[desc-example-3]]</em></li>
        <li><span style="color:#ff8822;font-weight:bold;">[[example-4]]</span> <em>[[desc-example-4]]</em></li>
        <li><span style="color:#ff8822;font-weight:bold;">[[example-5]]</span> <em>[[desc-example-5]]</em></li>
        <li><span style="color:#ff8822;font-weight:bold;">[[example-6]]</span> <em>[[desc-example-6]]</em></li>
    </ul>
</div>

<br/><br/>
<div>
    <p>
        <span style="font-weight:bold;text-decoration:underline;">[[label-example-1]]</span>
        <span style="color:#ff8822;font-weight:bold;">[[example-short-code-1]]</span><br/>
        <em>[[desc-example-short-code-1]]</em>
    </p>
    [[graph-example-1]]
</div>

<br/><br/>
<div>
    <p>
        <span style="font-weight:bold;text-decoration:underline;">[[label-example-2]]</span>
        <span style="color:#ff8822;font-weight:bold;">[[example-short-code-2]]</span><br/>
        <em>[[desc-example-short-code-2]]</em>
    </p>
    [[graph-example-2]]
</div>